body {
	background:#000000;
	color:#fff;
	}

.purple {
	color:lightskyblue;
	font-size:20px;
}

.love {
	color:lightpink;
}

.cool {
	color:lightpink;
}

.white {
	color:hotpink;
	font-size:20px;
}

.out {
	color:powderblue;
	font-size:20px;
}

.inside {
	color:floralwhite;
	font-size:20px;
}

.image {
	font-size:35px;
}

.title {
	color:deeppink;
}

.iwishyou {
	color:coral;
	font-size:20px;
}

.gray {
	color:lightgray;
}

.poemas {
	font-size:50px;
}

.ella {
	color:dimgray;
	font-size:25px;
}

.mi {
	color:darkcyan;
}

.last {
	color:lightskyblue;
	font-size:50px;
}